.html, .body, .p5Canvas, .head {
  background: black;
}

.p5Canvas {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  /* max-width: 100%; */
  /* max-height: 100%; */
}
